:root {
  --color-primary: #7209b7;
  --color-primary-light: #b439ff;
  --color-primary-dark: #430074;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 1rem 4rem rgba(0, 0, 0, 0.1);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-grey-dark-2);
}

.logo {
  width: 5rem;
  margin-left: 2rem;
}

.search {
  font-size: 1.4rem;
  display: flex;
  flex: 0 0 40%;
  justify-content: center;
  align-items: center;
}
.search__field {
  border: none;
  border-radius: 100px;
  background-color: var(--color-grey-light-2);
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  margin-right: -3rem;
  width: 90%;
  padding: 0.7rem 2rem;
  transition: all 0.3s;
}
.search__field:focus {
  outline: none;
  background-color: var(--color-grey-light-3);
  width: 100%;
}
.search__field:focus + .search__button {
  background-color: var(--color-grey-light-3);
}
.search__field::placeholder {
  font-size: inherit;
  color: var(--color-grey-light-4);
}
.search__button {
  background-color: var(--color-grey-light-2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.search__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-grey-dark-2);
}
.search__icon:active {
  transform: translateY(2px);
}

.user-nav {
  display: flex;
  align-self: stretch;
}
.user-nav > * {
  padding: 0 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}
.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}
.user-nav__box {
  position: relative;
}
.user-nav__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-grey-dark-2);
}
.user-nav__notif {
  position: absolute;
  width: 1.75rem;
  height: 1.75rem;
  top: 1.2rem;
  right: 1.2rem;
  background-color: var(--color-primary-light);
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav__user-image {
  width: 4rem;
  border-radius: 50%;
  margin-right: 0.75rem;
}
.user-nav__user-name {
  font-weight: 600;
  font-size: 1.2rem;
}

.side-nav {
  list-style: none;
  margin-top: 3rem;
  font-size: 1.3rem;
}
.side-nav__item {
  padding: 1rem 2rem;
  cursor: pointer;
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__item:hover:before, .side-nav__item:active::before {
  background-color: var(--color-primary-light);
}
.side-nav__link:link, .side-nav__link:visited {
  color: var(--color-grey-light-1);
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
.side-nav__icon {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
  margin-right: 1.6rem;
}

.legal {
  color: var(--color-grey-light-4);
  padding: 1.5rem;
  text-align: center;
}

.gallery {
  display: flex;
}
.gallery__photo {
  display: block;
  width: 100%;
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);
}
.overview__heading {
  color: var(--color-grey-dark-3);
  font-size: 2.25rem;
  font-weight: 400;
  padding: 1.25rem 3rem;
}
.overview__stars {
  margin-right: auto;
  display: flex;
}
.overview__icon--star, .overview__icon--location {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-primary-light);
}
.overview__location {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: var(--color-primary);
}
.overview__rating {
  align-self: stretch;
  background-color: var(--color-primary);
  padding: 0 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 1.25rem;
}
.overview__rating--percent {
  font-size: 2.25rem;
  margin-bottom: -0.3rem;
}
.overview__rating--count {
  text-transform: uppercase;
}

.btn-inline {
  font-size: inherit;
  background: transparent;
  color: currentColor;
  padding: 0.4rem 0.8rem;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-inline:active {
  outline: none;
}
.btn-inline:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
.paragraph:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  color: var(--color-grey-dark-3);
}
.list__item {
  flex: 0 0 50%;
  margin-bottom: 0.6rem;
}
.list__item::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-primary-light);
  mask-image: url(../img/chevron-thin-right.svg);
  mask-size: cover;
  margin-right: 1rem;
}

.recommend {
  display: flex;
  align-items: center;
}
.recommend__count {
  font-size: 1.2rem;
  color: var(--color-grey-dark-3);
  margin-right: auto;
}
.recommend__friends {
  display: flex;
}
.recommend__avatar {
  box-sizing: content-box;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 3px solid #fff;
}
.recommend__avatar:not(:last-child) {
  margin-right: -0.9rem;
}

.container {
  background-color: var(--color-grey-light-1);
  max-width: 120rem;
  margin: 4rem auto;
  border-radius: 4px;
  box-shadow: var(--shadow-dark);
  overflow: hidden;
}

.header {
  background-color: #fff;
  height: 7rem;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.details {
  font-size: 1.4rem;
  display: flex;
  background-color: var(--color-grey-light-2);
  border-bottom: var(--line);
  box-shadow: var(--shadow-light);
  padding: 4rem;
}

.description {
  padding: 3rem;
  background-color: #fff;
  flex: 0 0 60%;
  margin-right: 4rem;
}

.user-review {
  background-color: yellowgreen;
  flex: 1;
}

/*# sourceMappingURL=style.css.map */
