////////////////////////////////////////
/// LOGO
.logo {
  width: 5rem;
  margin-left: 2rem;
}

////////////////////////////////////////
/// SEARCH
.search {
  font-size: 1.4rem;
  display: flex;
  flex: 0 0 40%;
  justify-content: center;
  align-items: center;

  &__field {
    border: none;
    border-radius: 100px;
    background-color: var(--color-grey-light-2);
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    margin-right: -3rem;
    width: 90%;
    padding: 0.7rem 2rem;
    transition: all 0.3s;

    &:focus {
      outline: none;
      background-color: var(--color-grey-light-3);
      width: 100%;
    }
  }

  &__field:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__field::placeholder {
    font-size: inherit;
    color: var(--color-grey-light-4);
  }

  &__button {
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-2);

    &:active {
      transform: translateY(2px);
    }
  }
}

////////////////////////////////////////
/// USER NAVIGATION
.user-nav {
  display: flex;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__box {
    position: relative;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-2);
  }

  &__notif {
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    top: 1.2rem;
    right: 1.2rem;
    background-color: var(--color-primary-light);
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-image {
    width: 4rem;
    border-radius: 50%;
    margin-right: 0.75rem;
  }

  &__user-name {
    font-weight: 600;
    font-size: 1.2rem;
  }
}

////////////////////////////////////////
/// SIDEBAR
.side-nav {
  list-style: none;
  margin-top: 3rem;
  font-size: 1.3rem;

  &__item {
    padding: 1rem 2rem;
    cursor: pointer;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:hover:before,
  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    margin-right: 1.6rem;
  }
}

.legal {
  color: var(--color-grey-light-4);
  padding: 1.5rem;
  text-align: center;
}

/////////////////////////////
/// Gallery
.gallery {
  display: flex;

  &__photo {
    display: block;
    width: 100%;
  }
}

/////////////////////////////
/// HOTEL OVERVIEW
.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__heading {
    color: var(--color-grey-dark-3);
    font-size: 2.25rem;
    font-weight: 400;
    padding: 1.25rem 3rem;
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon--star,
  &__icon--location {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-primary-light);
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: var(--color-primary);
  }

  &__rating {
    align-self: stretch;
    background-color: var(--color-primary);
    padding: 0 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 1.25rem;
  }

  &__rating--percent {
    font-size: 2.25rem;
    margin-bottom: -0.3rem;
  }

  &__rating--count {
    text-transform: uppercase;
  }
}

/////////////////////////////
/// BUTTON INLINE

.btn-inline {
  font-size: inherit;
  background: transparent;
  color: var(--color-primary);
  padding: 0.4rem 0.8rem;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    font-size: larger;
    margin-left: 0.2rem;
    transition: margin-left 0.2s;
  }

  &:active {
    outline: none;
  }

  &:hover {
    color: var(--color-primary-light);
    animation: pulse 1s infinite;

    span {
      margin-left: 0.6rem;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

/////////////////////////////
/// PARAGRAPH
.paragraph:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

/////////////////////////////
/// LIST
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  color: var(--color-grey-dark-3);

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.6rem;

    &::before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;

      background-color: var(--color-primary-light);
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
      margin-right: 1rem;
    }
  }
}

/////////////////////////////
/// RECOMMEND
.recommend {
  display: flex;
  align-items: center;

  &__count {
    font-size: 1.2rem;
    color: var(--color-grey-dark-3);
    margin-right: auto;
  }

  &__friends {
    display: flex;
  }

  &__avatar {
    box-sizing: content-box;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;

    &:not(:last-child) {
      margin-right: -0.9rem;
    }
  }
}

/////////////////////////////
/// REVIEW
.review {
  background-color: #fff;
  padding: 3rem;
  margin-bottom: 3rem;
  box-shadow: var(--shadow-light);
  border-radius: 4px;
  position: relative;
  overflow: hidden;

  &__text {
    margin-bottom: 3rem;
    position: relative;
    z-index: 10;
  }

  &__photo {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user {
    display: flex;
    align-items: center;

    &-box {
      margin-right: auto;
    }

    &-name {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    &-date {
      font-size: 1rem;
      color: var(--color-grey-dark-3);
    }

    &-rate {
      font-size: 2.2rem;
      font-weight: 300;
      color: var(--color-primary);
    }
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: 0rem;
    left: -1rem;
    line-height: 0.7;
    font-family: sans-serif;
    font-size: 20rem;
    z-index: 1;
    color: var(--color-grey-light-3);
  }

  & .btn-inline {
    color: var(--color-primary-light);
  }
}

///// CTA

.btn {
  border: unset;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary)
  );
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  cursor: pointer;

  & span {
    transition: all 0.2s;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
  }

  &__visible {
    padding: 1.5rem 4rem;
  }

  &__invisible {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 1.5rem 0;
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary)
    );
  }

  &:focus {
    animation: pulse 1s infinite;
  }
}
