.container {
  background-color: var(--color-grey-light-1);
  max-width: 120rem;
  margin: 4rem auto;
  box-shadow: var(--shadow-dark);
  overflow: hidden;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  background-color: #fff;
  height: 7rem;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.details {
  font-size: 1.4rem;
  display: flex;
  background-color: var(--color-grey-light-2);
  border-bottom: var(--line);
  box-shadow: var(--shadow-light);
  padding: 4rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 2rem;
  }
}

.description {
  padding: 3rem;
  background-color: #fff;
  flex: 0 0 60%;
  margin-right: 4rem;
  border-radius: 4px;

  @media only screen and (max-width: $bp-medium) {
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 1.5rem;
  }
}

.user-review {
  font-size: 1.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cta {
  text-align: center;
  padding: 3rem 0;

  &__heading {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
}
