.container {
  background-color: var(--color-grey-light-1);
  max-width: 120rem;
  margin: 4rem auto;
  border-radius: 4px;
  box-shadow: var(--shadow-dark);
  overflow: hidden;
}

.header {
  background-color: #fff;
  height: 7rem;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.details {
  font-size: 1.4rem;
  display: flex;
  background-color: var(--color-grey-light-2);
  border-bottom: var(--line);
  box-shadow: var(--shadow-light);
  padding: 4rem;
}

.description {
  padding: 3rem;
  background-color: #fff;
  flex: 0 0 60%;
  margin-right: 4rem;
  border-radius: 4px;
}

.user-review {
  font-size: 1.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
